table.list th.logger_date {
    width: 11em;
}

table.list th.logger_view_log {
    width: 6.5em;
}

table.list th.logger_action {
    width: 17em;
}

div.context-attributes table.list th {
    text-align: center;
    vertical-align: bottom;
}

table.list td.logger_date, table.list td.logger_view_log {
    text-align: center;
}

table.list td.logger_runtime, table.list td.logger_memory_usage, table.list td.logger_memory_usage_peak, table.list td.logger_notice_count, table.list td.logger_warning_count, table.list td.logger_error_count {
    text-align: right;
}

table.list td.script_param_title {
    font-weight: bold;
    width: 20%;
    white-space: nowrap;    
}

td.script_fatal_error_recipients textarea {
    width: 100%;
    height: 100px
}

p.help {
    font-weight: normal;
    font-style: italic;
    color: #333;
}

.yui-dt-even.level_notice {
    background-color: #FAFFF5;
}

.yui-dt-odd.level_notice {
    background-color: #EFFFE1;
}

.yui-dt tbody tr.level_notice:hover {
    background-color: #E3FFCD;
}

.yui-dt-even.level_warning {
    background-color: #FFEFCD;
}

.yui-dt-odd.level_warning {
    background-color: #FFE8B9;
}

.yui-dt tbody tr.level_warning:hover {
    background-color: #FFE1A5;
}

.yui-dt-even.level_error {
    background-color: #FFE1E7;
}

.yui-dt-odd.level_error {
    background-color: #FFCDD7;
}

.yui-dt tbody tr.level_error:hover {
    background-color: #FFB9C7;
}
